---
import * as m from "~/paraglide/messages.js";
import { getRelativeLocaleUrl } from "astro:i18n";
import DarkModeToggle from "./DarkModeToggle.svelte";
import DeviceIcon from "./DeviceIcon.astro";
import MoonIcon from "./MoonIcon.astro";
import SunIcon from "./SunIcon.astro";
import LanguageSelector from "./LanguageSelector.astro";
import { Icon } from "astro-icon/components";

const year = new Date().getFullYear();
const locale = Astro.currentLocale ?? "en";
---

<footer class="md:max-w-240 mx-auto flex flex-col py-5 px-8 border-t border-t-rose-pine-dawn-highlight-med dark:border-t-rose-pine-moon-highlight-med">
    <div class="flex flex-col md:flex-row items-center justify-between">
        <div class="flex flex-col max-md:items-center md:justify-center max-w-fit">
            <img class="max-w-72 dark:invert" src="/kuro_company.svg" alt="Kuro Company">
            <div class="sm:self-start flex flex-wrap items-center text-md font-semibold gap-4 text-rose-pine-dawn-text dark:text-rose-pine-moon-text">
                <a href={getRelativeLocaleUrl(locale, "join")} class="hover:underline decoration-[1.5px]">{m.joinFlaVR()}</a>
                <a href={getRelativeLocaleUrl(locale, "legal")} class="hover:underline decoration-[1.5px]">{m.legal()}</a>
                <a href={getRelativeLocaleUrl(locale, "contact")} class="hover:underline decoration-[1.5px]">{m.contact()}</a>
            </div>
            <div class="flex flex-row justify-start items-center gap-4 mt-2">
                <a href="https://github.com/Kuro-Company">
                    <Icon name="github" class="text-rose-pine-dawn-text dark:text-rose-pine-moon-text h-6 w-6" />
                </a>
                <a href="https://discord.gg/hk5gemg27x">
                    <Icon name="discord" class="text-rose-pine-dawn-text dark:text-rose-pine-moon-text h-6 w-6" />
                </a>
                <a href="https://twitter.com/Kuro_Company">
                    <Icon name="twitter" class="text-rose-pine-dawn-text dark:text-rose-pine-moon-text h-6 w-6" />
                </a>
            </div>
        </div>
        <div class="flex flex-row justify-end items-center gap-4 max-md:mt-4">
            {/* @ts-expect-error slot types bewteen svelte and astro are fucked */}
            <DarkModeToggle client:load>
                <SunIcon slot="sun" />
                <DeviceIcon slot="device" />
                <MoonIcon slot="moon" />
            </DarkModeToggle>
            <LanguageSelector />
        </div>
    </div>
    <!-- <p class="text-sm text-center font-semibold text-rose-pine-dawn-text dark:text-rose-pine-moon-text">&copy {year} {m.kuroCompany()} {m.allRightsReserved()}</p> -->
</footer>
