---
import * as m from "~/paraglide/messages.js";
import { getRelativeLocaleUrl } from "astro:i18n";
import DarkModeToggle from "./DarkModeToggle.svelte";
import DeviceIcon from "./DeviceIcon.astro";
import MoonIcon from "./MoonIcon.astro";
import SunIcon from "./SunIcon.astro";
import LanguageSelector from "./LanguageSelector.astro";
import { Icon } from "astro-icon/components";

const year = new Date().getFullYear();
const locale = Astro.currentLocale ?? "en";
---

<footer class="flex flex-col py-5 px-8 border-t-[1px] border-t-rosePineDawn-highlightMed dark:border-t-rosePineMoon-highlightMed">
    <div class="flex flex-col sm:flex-row items-center sm:justify-between">
        <img class="max-w-72 dark:invert" src="/kuro_company.svg" alt="Kuro Company">
        <div class="sm:self-start flex flex-wrap items-center text-md font-semibold gap-4 text-rosePineDawn-text dark:text-rosePineMoon-text">
            <a href={getRelativeLocaleUrl(locale, "join")} class="hover:underline">{m.joinFlaVR()}</a>
            <a href={getRelativeLocaleUrl(locale, "legal")} class="hover:underline">{m.legal()}</a>
            <a href={getRelativeLocaleUrl(locale, "contact")} class="hover:underline">{m.contact()}</a>
        </div>
    </div>
    <div class="flex flex-col sm:flex-row items-center">
        <div class="flex-1 flex flex-row justify-start items-center gap-4">
            <a href="https://github.com/Kuro-Company">
                <Icon name="github" class="text-rosePineDawn-text dark:text-rosePineMoon-text h-6 w-6" />
            </a>
            <a href="https://discord.gg/hk5gemg27x">
                <Icon name="discord" class="text-rosePineDawn-text dark:text-rosePineMoon-text h-6 w-6" />
            </a>
            <a href="https://twitter.com/Kuro_Company">
                <Icon name="twitter" class="text-rosePineDawn-text dark:text-rosePineMoon-text h-6 w-6" />
            </a>
        </div>
        <p class="flex-1 text-sm text-center font-semibold leading-6 pb-3 sm:pb-0 text-rosePineDawn-text dark:text-rosePineMoon-text">&copy {year} {m.kuroCompany()} {m.allRightsReserved()}</p>
        <div class="flex-1 flex flex-row justify-end items-center gap-4">
            <DarkModeToggle client:load>
                <SunIcon slot="sun" />
                <DeviceIcon slot="device" />
                <MoonIcon slot="moon" />
            </DarkModeToggle>
            <LanguageSelector />
        </div>
    </div>
</footer>
