---
import * as m from "~/paraglide/messages.js";
import NavButton from "./NavButton.astro";
---

<script>
    import { gsap } from "gsap";
    import { ScrollTrigger } from "gsap/dist/ScrollTrigger";

    gsap.registerPlugin(ScrollTrigger);

    const elem = document.querySelector("#nav-header");
    const classes = [
        "bg-rosePineDawn-surface/75",
        "dark:bg-rosePineMoon-surface/75",
        "backdrop-blur-md",
    ];
    const toggleClasses = () => classes.forEach(c => elem?.classList.toggle(c));

    gsap.from(elem, {
        scrollTrigger: {
            start: "top -1",
            end: 999999,
            onEnter: toggleClasses,
            onLeaveBack: toggleClasses,
            onLeave: toggleClasses,
            onEnterBack: toggleClasses
        },
    });
</script>

<header class="sticky top-0 z-50 w-full">
    <nav id="nav-header" class="transition-[padding-top,padding-bottom,background-color] transition-100 flex w-full items-center justify-between max-sm:p-6 py-4 px-8 lg:px-8 ">
        <div class="flex lg:flex-1">
            <a href="/" class="-m-1.5 p-1.5">
                <span class="sr-only">FlaVR</span>
                <img src="/flavr_with_color.svg" alt="" class="max-h-6">
            </a>
        </div>
        <div class="flex lg:hidden">
            <button>
                <span class="sr-only">Open menu</span>
            </button>
        </div>
        <div class="hidden lg:flex lg:gap-x-12">
            <NavButton>{m.about()}</NavButton>
            <NavButton>{m.talents()}</NavButton>
            <NavButton>{m.community()}</NavButton>
            <NavButton>{m.news()}</NavButton>
        </div>
        <div class="hidden lg:flex lg:flex-1 lg:justify-end">
            <NavButton extraClasses="bg-rosePineDawn-highlightLow dark:bg-rosePineMoon-highlightLow">{m.watch()}</NavButton>
        </div>
    </nav>
</header>
