---
import * as m from "~/paraglide/messages.js";
import NavButton from "./NavButton.astro";
import { getRelativeLocaleUrl } from "astro:i18n";
import { Icon } from "astro-icon/components";

const locale = Astro.currentLocale ?? "en";
---

<script>
    import { gsap } from "gsap";
    import { ScrollTrigger } from "gsap/dist/ScrollTrigger";

    gsap.registerPlugin(ScrollTrigger);

    const elem = document.querySelector("#nav-header");
    const classes = [
        "bg-rosePineDawn-surface/75",
        "dark:bg-rosePineMoon-surface/75",
        "backdrop-blur-md",
    ];
    const toggleClasses = () => classes.forEach(c => elem?.classList.toggle(c));

    gsap.from([elem], {
        scrollTrigger: {
            start: "top -1",
            end: 999999,
            onEnter: toggleClasses,
            onLeaveBack: toggleClasses,
            onLeave: toggleClasses,
            onEnterBack: toggleClasses
        },
    });
</script>

<header class="sticky top-0 z-50 w-full">
    {/* The extremely cursed segments in the class is to show and hide the 2 icons in the mobile menu toggle. */}
    <input type="checkbox" id="mobile-menu" class="peer/nav hidden [&:checked~#nav-header_*_*_.nav-icon]:hidden [&:checked~#nav-header_*_*_.nav-x]:block">

    <nav id="nav-header" class="flex w-full items-center justify-between max-md:py-6 py-4 px-8">
        <div class="flex md:flex-1">
            <a href={getRelativeLocaleUrl(locale)} class="-m-1.5 p-1.5">
                <span class="sr-only">FlaVR</span>
                <img src="/logo.svg" alt="" class="max-h-6">
            </a>
        </div>

        {/* Mobile menu toggle */}
        <div class="flex md:hidden">
            <label for="mobile-menu" class="cursor-pointer -m-2.5 inline-flex items-center justify-center rounded-md p-2.5 hover:bg-rosePineDawn-highlightMed dark:hover:bg-rosePineMoon-highlightMed text-rosePineDawn-text dark:text-rosePineMoon-text">
                <span class="sr-only">Open menu</span>
                <Icon name="tabler:menu-2" class="nav-icon" />
                <Icon name="tabler:x" class="hidden nav-x" />
            </label>
        </div>

        {/* Wide nav */}
        <div class="hidden md:flex md:gap-x-8">
            <NavButton href={getRelativeLocaleUrl(locale, "about")}>{m.about()}</NavButton>
            <NavButton href={getRelativeLocaleUrl(locale, "talents")}>{m.talents()}</NavButton>
            <NavButton href={getRelativeLocaleUrl(locale, "community")}>{m.community()}</NavButton>
            <NavButton href={getRelativeLocaleUrl(locale, "news")}>{m.news()}</NavButton>
        </div>

        <div class="hidden md:flex md:flex-1 md:justify-end">
            <NavButton extraClasses="bg-rosePineDawn-highlightLow dark:bg-rosePineMoon-highlightLow" href={getRelativeLocaleUrl(locale, "schedule")}>{m.watch()}</NavButton>
        </div>
    </nav>

    {/* Mobile menu */}
    <div class="invisible opacity-0 max-md:peer-checked/nav:visible max-md:peer-checked/nav:opacity-100 block absolute transform translate-y-full bottom-full transition-[visibility,opacity] ease-in-out duration-500 -z-10 w-full h-screen overflow-y-auto bg-rosePineDawn-surface/75 dark:bg-rosePineMoon-surface/75 backdrop-blur-md py-4 px-8">
        <div class="flex flex-col gap-4 mt-20">
            <NavButton extraClasses="!text-3xl !font-bold" href={getRelativeLocaleUrl(locale, "about")}>{m.about()}</NavButton>
            <NavButton extraClasses="!text-3xl !font-bold" href={getRelativeLocaleUrl(locale, "talents")}>{m.talents()}</NavButton>
            <NavButton extraClasses="!text-3xl !font-bold" href={getRelativeLocaleUrl(locale, "community")}>{m.community()}</NavButton>
            <NavButton extraClasses="!text-3xl !font-bold" href={getRelativeLocaleUrl(locale, "news")}>{m.news()}</NavButton>    
        </div>
    </div>
</header>
