---
import * as m from "~/paraglide/messages.js";
import Layout from "~/layouts/Layout.astro";
import Container from "~/components/Container.astro";
import { getLangStaticPaths } from "~/util/getLangStaticPaths";

export const getStaticPaths = getLangStaticPaths;
const LiveVideoIds = [
    "ox_OSNBKrY4",
    "fHbmgharsL4",
    "6NE_u1tCCMg",
    // Add more video IDs here
];
const UpcomingVideoIds = [
    "ox_OSNBKrY4",
    "fHbmgharsL4",
    "6NE_u1tCCMg",
];
---
<script>
    import "lite-youtube-embed";
    import "lite-youtube-embed/src/lite-yt-embed.css";
</script>

<Layout title={m.schedule()}>
    <Container>
        <h2 class="text-4xl font-bold mb-3">{m.live()}</h2>
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
            {LiveVideoIds.map((vid) => (
                <div class="relative">
                    <lite-youtube videoid={vid} params="autoplay=1"></lite-youtube>
                </div>
            ))}
        </div>
        <hr class="mb-1 mt-4 h-px border-0 bg-rose-pine-dawn-highlight-med dark:bg-rose-pine-moon-highlight-med" />
        <h2 class="text-4xl font-bold mb-3">{m.upcoming()}</h2>
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
            {UpcomingVideoIds.map((vid) => (
                <lite-youtube videoid={vid} params="autoplay=1"></lite-youtube>
            ))}
        </div>
    </Container>
</Layout>
