---
import type { InferGetStaticPropsType } from "astro";
import { getCollection } from "astro:content";
import Layout from "~/layouts/Layout.astro";
import Container from "~/components/Container.astro";
import Carousel from "~/components/Carousel.astro";
import SocialButton from "~/components/SocialButton.astro";

export async function getStaticPaths() {
    const pages = await getCollection("talents");

    const paths = pages.map(page => {
        const [lang, ...id] = page.id.split("/");
        return {
            params: {
                lang,
                slug: id.join("/"),
            },
            props: page,
        };
    });

    return paths;
}

type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const { lang } = Astro.params;
const { description, name, generation, flavor, mark, images, socialMedia } = Astro.props.data;
---

<Layout title={name}>
    <Container extraClasses="items-center justify-center">
        <div class="w-full flex flex-row max-sm:flex-col justify-between gap-6">
            <div class="md:max-w-[40%] w-full h-full pt-2">
                <Carousel images={[`/image/profile/${Astro.props.id.split("/")[1]}.webp`, ...images].filter(i => i.length !== 0)} />
            </div>
            <div class="w-full h-full space-y-4">
                <a class="font-semibold hover:text-rose-pine-dawn-subtle hover:underline underline-offset-2" href={`/${lang}/talents/generation/${generation.toLowerCase()}/`}>FlaVR {generation}</a>
                <h1 class="text-4xl sm:text-5xl font-bold">{name}</h1>
                <div class="flex flex-row flex-wrap gap-2">
                    {Object.entries(socialMedia).filter(([, v]) => v.length !== 0).map(([k, v]) => {
                        return <SocialButton icon={k as keyof typeof socialMedia} href={v} />;
                    })}
                </div>
                <p>{description}</p>
            </div>
        </div>
    </Container>
</Layout>
